body{
  margin: 0;
  transition: opacity 3s ease-out;
}

body.fadeOut{
  opacity: 0;
}


/* Intro Page Styling */

#intro {
  background-image: url("images/footprints-2.png");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px; 
  position: relative;
}

#intro-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#button{
  border: 1px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #900c3f;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }

#button:hover {
  background-color: #c70039;
  color: white;
}

/* Header Styling */

.header{
  background-color: #900c3f;
}

#marauders-logo{
  width: 199px;
  height: 243px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;

}


/* Nav Bar Styling */

}
#nav{
    background-color: #900c3f;
    color:#ffffff;
    width: 7100%;
    margin-right: auto;
    margin-left:auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
}
#nav a{
  float: left;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  background-color:#900c3f;
  color:#ffffff
}

#nav hover{
  background-color: #c70039
  font-weight: 10;
  
#about-1{
  background-color: blue
}
